footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	background-color: white;
	overflow: hidden;
	border-top: black solid 1px;
}
footer p{
	z-index: 100;
	position: absolute;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	width:100%;
	bottom: 0px;
	margin-bottom: 0px;
}
footer img {
	border: 0;
	overflow: hidden;
	min-width: 40%;
}
@media only screen and (min-width: 970px) {
	footer img {
		min-height: 79px;
		min-width: 953px;
		width: 50%;
	}
}
